<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/vibeciti.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div id="main-container">

		<div id="navbar">
			<div id="logo">
				<h4><SPAN>V</SPAN>IBE<span>C</span>ITI</h4>
			</div>
			<div id="navlinks">
			</div>
		</div>

		<div id="mainscreen">
			<div id="play-area">
				<div id="play-area-overlay">
					<div class="jukebox carrier" id="jukebox-one" data-track="1"></div>
					<div class="jukebox carrier" id="jukebox-two" data-track="2"></div>
					<div class="jukebox carrier" id="jukebox-three" data-track="3"></div>
					<div class="jukebox carrier" id="jukebox-four" data-track="4"></div>
					<div class="jukebox carrier" id="jukebox-five" data-track="5"></div>
				</div>

			</div>
		</div>

		<div class="play-screen">
			<div class="play-screen-wrapper">
				<i class="fa  fa-times fa-2x" id="closebutton"></i>
				<i class="fa fa-pause-circle fa-4x fa-inverse" id="playButton"></i>
				<div id="album-thumbnail"></div>
				<h2 id="album-title"></h2>
				<h3 id="song-title"></h3>
				<div class="canvas" id="sheet">
				</div>
				<div class="blur-background"></div>
			</div>
		</div>

		<script type="text/javascript" src="/js/classie.js"></script>
		<script type="text/javascript" src="/js/vibeciti.js"></script>

</body>

</html>
